{% include 'header.html' %}
<style>
  body {
    background-color: #f8f9fa;
  }

  .card {
    width: 400px;
    margin: 50px auto;
  }

  .card-body {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
  }

  .error-message {
    color: #dc3545;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

<div class="card shadow">
  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">Create an Account</h5>
    <div class="container-fluid">
      <form method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Enter first name" pattern='[A-Za-z]+' required>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Enter last name" pattern='[A-Za-z]+' required>
        </div>
        <div class="form-group">
          <label for="empcode">Employee Code</label>
          <input type="text" id="empcode" name="empcode" class="form-control" placeholder="Enter your employee code" pattern='[0-9]+' required>
        </div>
        <div class="form-group">
          <label for="email">Email ID</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" pattern=".{6,}" title="Six or more characters" required>
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm password" pattern=".{6,}" title="Six or more characters" required>
          <p class="error-message" id="error-message"></p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function validateForm() {
    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm_password").value;
    var error_message = document.getElementById("error-message");

    if (password !== confirm_password) {
      error_message.innerHTML = "Passwords do not match. Please check your confirmation password.";
      document.getElementById("confirm_password").focus();
      return false;
    } else {
      error_message.innerHTML = "";
    }

    return true;
  }

</script>

{% if error == "no" %}
  <script>
    alert('Signup Successfully!');
    window.location = "{% url 'emp_login' %}";
  </script>
{% endif %}

{% if error == "yes" %}
  <script>
    alert('Something went wrong, Try again...');
  </script>
{% endif %}
