{% extends 'user_management.html' %}

{% block content %}
  <h1>User Menu Permissions</h1>
  <table class="table" id='example'>
    <thead>
      <tr>
        <th>User</th>
        <th>Menu Name</th>
        <th>Permission Level</th>
        <th>Change Permission</th>
      </tr>
    </thead>
    <tbody>
      {% for permission in permissions %}
        <tr>
          <td>{{ permission.user.username }}</td>
          <td>{{ permission.menu_name }}</td>
          <td>{{ permission.get_permission_display }}</td>
          <td>
            <form method="post" action="{% url 'update_permission' permission.id %}">
              {% csrf_token %}
              <select name="new_permission_level">
                <option value="">-------</option>
                <option value="True">Is Staff</option>
                <option value="False">Not Staff</option>
              </select>
              <button type="submit">Update</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

