{% extends 'user_management.html' %}

{% block content %}
  <h1>Department Details</h1>

  <dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9">{{ department.name }}</dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9">{{ department.description }}</dd>

    <dt class="col-sm-3">Status:</dt>
    <dd class="col-sm-9">{{ department.get_status_display }}</dd>

    <dt class="col-sm-3">Date Added:</dt>
    <dd class="col-sm-9">{{ department.date_added }}</dd>

    <dt class="col-sm-3">Date Updated:</dt>
    <dd class="col-sm-9">{{ department.date_updated }}</dd>
  </dl>
{% endblock %}
